# Godot 4 — datos internos del editor e importación
.godot/

# Builds exportadas
build/
export_presets.cfg

# Traducciones compiladas
*.translation

# Archivos temporales de Blender
*.blend1
*.blend2

# Sistema
.directory
.DS_Store
Thumbs.db
modelos/escultura_pueblos_originarios_-_plaza_baquedano.zip
modelos/figura_antropomorfa_mapuche_chemamull.zip
modelos/figura_ceremonial_mapuche_rehue.zip
modelos/kollon_mapuche.zip
modelos/mascara_antropomorfa__mapuche_kollon.zip
modelos/pipa_antropomorfa_de_piedra.zip
modelos/ruca_mapuche.zip
modelos/ruka_ruca_mapuche_con_estructura_interior.zip
modelos/totem_mapuche_para_ritos_funerarios_chemamull.zip
modelos/totems_colectivo_originario.zip
modelos/demon_sword.zip
modelos/the_parade_armour_of_king_erik_xiv_of_sweden.zip
modelos/kenney_retro-textures-fantasy.zip
